@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf");
}

:root{
    --bot-helper01-primary:  rgba(4, 2, 66, .85);
    --bot-helper02-primary:  rgba(255, 163, 24, 0.7);
    --bot-helper03-primary:  #4caf50;
    --bot-helper04-primary:  #000000;
    --bot-helper05-primary:  #C4C4C4;
}



/* ---------------------------------------------------- */
/* SPINNER */
/* ---------------------------------------------------- */
#spinner-container{
    position: absolute;
    bottom: 0;
    /* border: solid 1px black; */
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: center;
    padding: 2%;
}

#spinner-container div{
    margin: 0 auto;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: auto;
    opacity: 1;
  }
  .lds-ellipsis div {
    position: absolute;
    bottom: 0px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.7);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }

  .lds-ellipsis-hide{
      display: none;
      opacity: 0;
  }


/* ------------------------------------------------------ */

#chatbot-frame{
    width: 100%;
    max-width: 1000px;
    min-width: 300px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 0;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.chatbot-header{
    height: 7%;
    background-color: var(--bot-helper01-primary);
    width: 100%;
    border: solid 1px var(--bot-helper01-primary);
    display: flex;
}

/* .chatbot-header div{
    border: solid 1px red;
    height: 100%;
} */

.chatbot-header-avatar{
    width: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    cursor: pointer;
    height: 100%;
    /* border-right: solid 1px rgba(255, 255, 255, 0.3); */
}

.robot-avatar-pic{
    background-image: url(/assets/img/avatar-man-tie.jpg);
    width: 50%;
    min-width: 50px;
    max-width: 50px;
    height: 100%;
    max-height: 50px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    /* margin-left: 2%; */
}

.chatbot-icon-changeArrow{
    width: 20px;
    height: 20px;
    fill: rgba(255, 255, 255, 0.2);
}


.chatbot-header-botStatus{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* border: solid 1px red; */
    padding-left: 2%;
}

/* .chatbot-header-botStatus div{
    width: 85%;
} */

.robot-name{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.chatbot-Name, .chatbot-Especialidade{
    color: white;
    font-weight: bold;
    font-family: Roboto;
    letter-spacing: 2px;
    font-size: 1em;
    padding: 0;
    margin: 0;
}

.chatbot-Especialidade{
    margin-left: 5%;
    font-size: .75em;
}

.robot-activeStatus{
  width: 100%;
  font-family: Roboto;
  letter-spacing: 2px;
  font-size: .7em;
}


.robot-activeStatus p{
    font-weight: normal;
    /* font-size: .7em; */
    color: rgba(255, 255, 255, .5);
    padding: 0;
    margin: 0;
    font-family: Roboto;
    letter-spacing: 2px;
}

.chatbot-header-botSettingsHelp{
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chatbot-icon-botSettingsHelp{
    width: 25px;
    height: 25px;
    fill: rgba(255, 255, 255, .8);
    margin: 0 auto;
    cursor: pointer;
}



/* ------------------------ */
/* Interface color dos bots */
.divAtendente-line{
    border: solid 1px rgba(0, 0, 0, 0.2);
    height: 50px;
    width: 95%;
    margin: 2% 0 0 auto;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    transition: all 0.8s;
}

.divAtendente-line:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

.divAtendente-ColorPattern{
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.divAtendente-Name{
    /* color: white; */
    font-weight: bold;
    font-family: Roboto;
    letter-spacing: 2px;
    margin: 0 0 0 10px;
    width:50%;
    /* border: solid 1px red; */
    font-size: 0.7em;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.divAtendente-Name p{
    /* background-color: yellow; */
    margin: 0;
    padding: 0;
}

.divAtendente-check{
    width: 20px;
    height: 20px;
    fill: rgba(255, 255, 255, 0.2);
    visibility: hidden;
}

.divAtendente-check-enabled{
    visibility: visible;
}
/* ------------------------ */

.chatbot-dialog{
    height: 73%;
    width: auto;
    overflow: scroll;
    padding: 3%;
    margin-left: 2%;
    font-family: Roboto;
    position: relative;
    /* border: solid 1px rgba(0, 0, 0, 0.2); */
}

.chatbot-prompt{
    height: 13%;
    width: auto;
    margin-left: 2%;
    /* border: solid 1px red; */
    /* padding: 1%; */
    display: flex;
}


#chatbot-dialog-typing{
    width: 80%;
    /* border: solid 1px green; */
    height: auto;
}

#chatbot-dialog-typing textarea{
    width: 100%;
    height: 95%;
    resize: none;
    border: none;
    /* border: solid 1px rgba(0, 0, 0, 0.2); */
    outline: none;
}

#chatbot-dialog-img{
    width: 20%;
    height: auto;
    /* border: solid 1px rgba(0, 0, 0, 0.2); */
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#chatbot-dialog-img img{
    width: 100%;
    height: 100%;
}

.chatbot-icon-sendMsg{
  /* border: solid 1px black; */
  /* border-radius: 50%; */
  width: 50%;
  height: 50%;
  fill: rgba(0, 0, 0, 0.7);;
}

/* Formatação d atabela de resultados */
.tableShowResult, .tableShowResult tr, .tableShowResult td, .tableShowResult thead, .tableShowResult tfoot{
    border: solid 1px black;
    width: 95%;
    border-collapse: collapse;
    margin: 0 auto;
}
.tableShowResult thead, .tableShowResult tfoot{
    text-align: center;
}

.tableShowResult thead{
    color: blue;
    cursor: pointer;
}

.tableShowResult thead:hover{
    color: orange;
}

.tblResultMainLine{
    text-align: justify;
}

.tableShowResult th{
    width: 100%;
}

.tableShowResult td p, td{
    padding: 0;
    margin: 0;
}

/* FLOATING MENUS */
.frame-float{
  display: none;
  position: absolute;
  width:80%;
  min-width: 300px;
  height: auto;
  border: solid 1px var(--bot-helper01-primary);
  left: 0;
  top: 7%;
  z-index: -1;
  background-color: rgba(255, 255, 255, .99);
  padding: 2%;
}

.frame-help{
  right: 0;
  left: auto;
  text-align: justify;
  height: 90%;
  max-height: 95%;
  width: 95%;
  overflow-y: scroll;
}

.frame-float-show{
  display: block;
  z-index: 1;
}

.containerHelp{
  width: 94%;
  padding: 3%;
  margin: 0 auto;
  border: solid 1px rgba(0, 0, 0, 0.2);
  height: auto;
  font-family: Roboto;
  font-size: .8em;
}

.fecharHelpFrame{
  font-family: Roboto;
  margin: 0 auto;
  color: red;
  text-align: center;
  cursor: pointer;
}

.commandsSample{
  display: inline;
  color: blue;
}

.teste{
  background-color: red;
}

.frame-settings{
width: 93%;
/* margin: 0 auto; */
height: 88%;
overflow-y: scroll;
right: 0;
margin-left: auto;
padding: 3%;
}

.frame-settings div{
width: 100%;
}

/* ---------------------------------------------------------
/* FORMATAÇÃO DA GRID E CAPOS PARA INCLUSÃO DE CONTEÚDOS */

.contentNotFound, .confirmationMsg{
  text-align: center;
  color: red;
  font-weight: bold;
  font-family: Roboto;
  display: inline-block;
  margin: 0 auto;
  width: 75%;
  opacity: 0;
  transition: all 0.7s;
}

.confirmationMsg{
  color: blue;
}

.contentNotFound-show, .confirmationMsg-show{
  opacity: 1;
}

.setting-div-form-content{
  opacity: 0;
  padding: .5% 0;
  margin: 0;
  height: 0px;
  transition: all 1s;
  border-top: solid 1px rgba(0, 0, 0, 0.2);
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  position: relative;
}

.setting-div-form-content-show{
  opacity: 1;
  height: auto;
}

.gridSettingsContent{
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 8px;
  margin: 1% 0 10% 0;
}

.gridContentItem{
  width: 40%;
  height: 30px;
  display: flex;
  align-items: center;
  font-family: Roboto;
}

.gridContentItem span{
  text-align: right;
  margin-left: auto;
  margin-right: 10%;
}

.content-body-fields{
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-body-fields span{
   text-align: center;
   width: 100%;
   margin: 0 auto;
}

.obligataoryField{
  color: red;
}

.requiredField{
  background-color: rgba(255, 163, 24, 0.7);
}

.txtContent{
  width: 90%;
  height: 90%;
  border-radius: 3px;
  outline: none;
  border: solid 1px rgba(0, 0, 255, .5);
  transition: all 0.7s;
}

.txtContent:focus{
  box-shadow: 0px 0px 7px blue;
}

.txtReduced{
  width: 70%;
}

.icon-content-search{
  width: 20%;
  height: 100%;
  margin-right: auto;
  text-align: left;
  fill: rgba(0, 0, 255, .5);
  cursor: pointer;
  display: inline-block;
  transition: all 1s;
}

.icon-content-search:hover{
  fill: rgba(255, 69, 0, 0.9);
}

.icon-content-search-hide{
  display: none;
  cursor: auto;
}

.chkContent{
  width: 10%;
  cursor: pointer;
}

.div-salvar{
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  padding: 5% 0;
}

#btnSalvarContent, #btnExportContent{
  display: inline-block;
  font-family: Roboto;
  padding: 3%;
  border-radius: 5px;
  color: rgba(255, 69, 0, 0.9);
  background-color: white;
  width: 40%;
  border: none;
  cursor: pointer;
  transition: all 1s;
}

#btnSalvarContent:hover, #btnExportContent:hover{
  color: white;
  background-color: rgba(255, 69, 0, 0.9);
}

#settings-div-actions{
  font-family: Roboto;
  margin-top: 5%;
  padding-bottom: 10%;
  /* border-bottom: solid 1px black; */
}

#settings-div-actions span{
  display: inline-block;
  width: 15%;
  /* border: solid 1px black; */
}

.select-action{
  border-radius: 3px;
  outline: none;
  border: solid 1px rgba(0, 0, 255, .5);
  transition: all 0.7s;
  width: 80%;
  margin: 0 auto;
  height: 40px;
  cursor: pointer;
}


.div-preSavedContent{
  display: none;
}


.msgScreen{
  position: absolute;
  width: 90%;
  height: 100%;
  background-color: white;
  border: solid 1px blue;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

.msgScreen-show{
  display: flex;
  /* flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none; */
}

.iconOkClose{
  width: 50px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

/* ------------------------------------------


*/
/* FORMATAÇÃO DA CAIXA DE DIALOG (BOTALEBL) */
.div-botLabel{
    border: solid 1px rgba(0,0,0,.2);
    width:75%;
    height: auto;
    margin: 3% auto 0 0;
    border-radius: 10px;
    padding: 1% 2%;
}

.resultOnClick{
    width: 100%;
    height: auto;
    border: solid 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 800px){
    .chatbot-avatar-changeArrow{
        display: none;
    }
}