<html>
<head>
   <style>
   div {
     min-width: 300px;
     width: 50%;
     margin: 10px auto;
   }
   input,
   textarea {
     width: 100%;
     height: 500px;
   }
   </style>
</head>
<body>
   <h3>Salvar arquivo com JavaScript</h3>
   <div>
     <label for="input-fileName">Nome do Arquivo</label><br/>
     <input type="text" id="titulo" placeholder="Nome do Arquivo">
   </div>
   <div>
     <label for="textarea">Texto</label><br/>
     <textarea id="texto" placeholder="Digite um texto para salva-lo">
         <b>Este aqui é um teste de texto.</b>
         Vamos ver.
     </textarea>
   </div>
   <div>
     <button onclick="salvar()">Salvar</button>
   </div>
   <div>
     <button id="formatar">Formatar</button>
   </div>

   <script type="text/javascript" src="FileSaver.min.js"></script>
   <script>
    function salvar() {
       let texto = document.getElementById("texto").value;
       let titulo = document.getElementById("titulo").value;
       let blob = new Blob([texto], { type: "text/plain;charset=utf-8" });

      var fullName = "c:'\'" + titulo + ".txt";
      debugger;
      
       saveAs(blob, fullName);
    }

    var $btnId = document.querySelector("#formatar");
    var $txt = document.querySelector("#texto");

    $btnId.addEventListener("click", function(){
        debugger;
        alert($txt.textContent);
    })

   
    

    </script>


</body>
</html>