<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <script>
        var db = openDatabase('dbTips', '1.0', 'BD Teste', 2 * 1024 * 1024);
        db.transaction(function(tx){
            tx.executeSql("CREATE table TIPS (ID PRIMARY KEY, name TEXT)");
            // tx.executeSql("INSERT INTO TIPS (ID, name) VALUES (1,'Helder')");
        });
 



        //--------------------------------------------------------------
        //----------------------- LOCAL STORAGE ------------------------
        // var obj = [
        //     {
        //         "Nome" : "Helder",
        //         "Idade" : 28
        //     },
        //     {
        //         "Nome" : "Fulano",
        //         "Idade" : 50
        //     }
        // ];
        // localStorage.setItem("bd1", JSON.stringify(obj));
        // var objRec = JSON.parse(localStorage.getItem("bd1"));
        // document.write(objRec[1].Nome);
    </script>
</body>
</html>